.post
  margin-bottom 16px
  padding 8px
  border 1px solid #1a1a1d
  border-radius 3px

  &-header
    padding 8px 10px
    font-size 20px
    border-top 1px solid #1a1a1d
    border-bottom 1px solid #1a1a1d
    color #d367c1
    background-color #1f1f22
    cursor pointer

    &:hover
      text-decoration underline

  &-body
    padding 8px

  &-footer
    display flex
    justify-content flex-end
    border-top 1px solid #1a1a1d
    padding 10px 16px
    background-color #1f1f22
