.form
  display flex
  flex-direction column
  width 300px

  &-title
    font-size 24px
    color #d367c1
  
  form
    display flex
    flex-direction column

  label
    display flex
    flex-direction column

  .button
    margin-left auto
